#primary {
    margin: auto;
    max-width: 98% !important;
    width: 98% !important;
}

.page-id-111 .custom-header-image, .page-id-123 .custom-header-image, .page-id-236 .custom-header-image, .page-id-238 .custom-header-image, .page-id-243 .custom-header-image, .page-id-245 .custom-header-image
, .page-id-254 .custom-header-image, .page-id-259 .custom-header-image, .page-id-164 .custom-header-image, .page-id-208	 .custom-header-image, .page-id-268 .custom-header-image
, .page-id-275 .custom-header-image, .page-id-293 .custom-header-image, .page-id-351 .custom-header-image, .page-id-367 .custom-header-image, .page-id-428 .custom-header-image {
	background: none !important;
	background-color: #ccc !important;
	padding-top: 0;
	padding-bottom: 0;
	height: 0px;
	margin-top: 0 !important;
}

@media screen and (min-width: 60em) {
    .admin-bar .site-header-hidden.header-top {
        top: 32px !important;
    }
    .site-header-hidden.header-top {
        transform: translate(0) !important;
        animation: none !important;
    }
}

.page-id-111 .wrap, .page-id-123 .wrap, .page-id-236 .wrap, .page-id-238 .wrap {
    max-width: 98%;
    max-width: 98%;
}

.row {
    margin-bottom: 25px;
}
.container-fluid {
    background: #f5f5f5;
    padding-top: 15px;
}

.card {
    border: none;
    background: #f5f5f5;
}

.card-body {
    padding: 0.25rem;
}

.ds4a_card {
    color: #434A54;
    width: 100%;
    float: left;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 15px 10px;
    margin-bottom: 5px;
    min-height: 120px;
    position: relative;
    background-color: white;
}

.ds4a_card .icon {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    padding-right: 10px;
    width: 70px;
    padding: 20px 0px;
    text-align: center;
    min-height: 100px;
    font-size: 3.5em;
    float: left;
}

.ds4a_card .data {
    margin-right: 10px;
    padding-right: 10px;
    padding: 10px 0px;
    text-align: center;
    min-height: 100px;
    float: left;
    width: 150px;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    font-family: arial;
    color: #434A54;
}

.ds4a_card .title {
    margin-right: 1px;
    font-size: 10px !important;
} 

.card .panel{
    width: 100% !important;
}

.card-title {
    margin: 0 !important;
    padding: 10px !important;
    border: 1px solid;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #F5F5F5;
    border-color: #E5E5E5;
    font-size: 11px;
    font-weight: 600;
    line-height: 18px;
    color: #434A54;
}

.card-text {
    margin: 0 !important;                                                                                                                                                                                          
}

div#ds_general_map, div#ds_vulnerable_map{
  height: 672px;
  margin: 0 auto;
}

.panel{
  height: 299px;
  margin: 0 auto; 
}

#ds_vulnerable_table_layer{
   min-height: 350px;	
}

.dataTable{
   font-size: 0.8em !important;
   border-collapse: collapse !important;
}

.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate{
   font-size: 0.8em !important;
}

.dataTables_length select,.dataTables_filter input{
   padding: 1px !important;
   font-size: 0.8em !important;
}

table.dataTable.compact tbody th, table.dataTable.compact tbody td {
    padding: 1px !important;
}

div#ds_model_form{
   height: auto;
}

@media screen and (min-width: 60em) {
	.main-navigation a {
	    padding: 0.5em 0.6em !important;
	}
}
